@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

html, body{
    height: 100vh;
}

body{
    position: relative;
    background-color: #5d2c80;
}

main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.356);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#sec{
    transition: width .3s, height .3s;
}

main h1{
    text-align: center;
    padding: 10px;
}

main p{
    padding: 10px;
    font-size: 0.9em;
}

#imagem{
    background: url(../imagens/pexels-mel-gomes-290426165-13183160.jpg) bottom center;
    background-size: cover;
    height: 280px;
    width: 300px;
    border-radius: 15px 15px 0px 0px;
    display: block;
}

#formulario{
    width: 300px;
    text-align: center;
    background-color: white;    
    border-radius: 0px 0px 15px 15px;
    display: block;
    transition: width .3s, height .3s;
}

.escreva{
    text-align: left;
    width: 78%;
    height: 40px;
    border: 2px solid #5d2c80;
    border-radius: 10px 10px 10px 10px;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#person{
    width: 40px;
    height: 44px;
    border-radius: 10px;
    position: absolute;
    left: 15px;
}

#laço{
    background-color: #5d2c80;
    display: inline-block;
    height: 44px ;
    width: 85%;
    position: relative;
    border-radius: 10px;
    margin: auto;
}

.label{
    height: 40px;
    width: 40px;
    display: inline-block; 
    left: 50%;
    top: 50%;
    transform: translate(-290%, 0%);
}

.material-symbols-outlined{
    display: inline-block;
    background-color: #5d2c80;
    color: white;
    font-size: 42px;
}

#login{
    display: inline-block;
    background-color: #e4f2fb;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-39%, -50%);
}

#laço2{
    background-color: #5d2c80;
    display: inline-block;
    height: 44px;
    width: 85%;
    position: relative;
    border-radius: 10px;
    margin: 10px auto;
}

#senha{
    background-color: #91cfca;
    margin-top: 5px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-39%, -62%);
}

#forsenha{
    display: inline-block;
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-300%, -50%);
    width: 40px;
    height: 42px;
    border-radius: 10px;
}

.b1{
    background-color: #4da59e;
    border: none;
    border-radius: 10px;
    height: 44px;
    width: 85%;
    color: white;
    font-size: 1.2em;
}

.b1:hover{
    background-color: #2a5855;
    color: white;
    cursor: pointer;
}

.margin{
    padding-bottom: 15px;
}

.b2{
    color: #4da59e;
    background-color: white;
}

#botao2:hover{
    cursor: pointer;
    background-color: #64d4cb;
    color: #336b66;
}

#botao2{
    border: 2px solid #4da59e;
    border-radius: 10px;
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px;
    margin: 10px auto 0px auto;
    width: 85%;
    display: block;
    box-sizing: border-box;
    height: 44px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#msg{
    background-color: transparent;
    color: #4da59e;
    font-size: 15px;
}
