@charset "UTF-8";


body{
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
}

main{
    width: 900px;
    height: 350px;
}

main p{
    margin-bottom: 15px;
}

#sec{
    height: 350px; 
    position: relative;
    width: 950px;
}

#imagem{
    display: block;
    height: 350px;
    width: 50%;
    float: right;
    border-radius: 0px ;

    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(12.5%, -50%);
    width: 400px;*/
}

#formulario{
    width: 500px;
    height: 350px;
    display: block;
    width: 50%;
    float: left;
    border-radius: 0px;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);*/
   
}

#laço{
    width: 400px;
}

#laço2{
    width: 400px;
}

#senha{
    width: 350px;
    transform: translate(-45%, -62%);
}

#forsenha{
    transform: translate(-540%, -50%);
    border-radius: 10px;
    height: 44px;
}

#login{
    width: 350px;
    transform: translate(-45%, -50%);
}

.label{
    transform: translate(-490%, 0%);
}
#person2{
    width: 40px;
    height: 44px;
    border-radius: 10px;
    position: absolute;
    left: 15px;
}

.b1, .b2{
    width: 85%;
}
