@charset "UTF-8";

main{
    width: 900px;
    height: 350px;
}


#sec{
    height: 350px; 
    position: relative;
    width: 950px;
}

#imagem{
    display: inline-block;
    width: 400px; 
    height: 350px;
    width: 50%;
    float: right;

    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(12.5%, -50%);*/
}

#formulario{
    width: 500px;
    height: 350px;
    display: inline-block;
    width: 50%;
    float: left;

    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);*/
   
}

#laço{
    width: 400px;
}

#laço2{
    width: 400px;
}

#senha{
    width: 350px;
    transform: translate(-45%, -62%);
}

#forsenha{
    transform: translate(-540%, -50%);
    border-radius: 10px;
    height: 44px;
}

#login{
    width: 350px;
    transform: translate(-45%, -50%);
}

.label{
    transform: translate(-490%, 0%);
}
#person2{
    width: 40px;
    height: 44px;
    border-radius: 10px;
    position: absolute;
    left: 15px;
}

.b1, .b2{
    width: 400px;
}
