@charset "UTF-8";



body{
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
}

main{
    height: 324px;
}

#sec{
    height: 324px; 
    position: relative;
    width: 80vw;
}

#imagem{
    display: inline-block;
    float: left;
    height: 100%;
    width: 30%;
    border-radius: 0px;
    
    /*position: absolute;
    top: 50%;
    width: 210px;
    height: 324px;
    left: 50%;
    transform: translate(-169%, -50%);*/
}

#formulario{
    display: block;
    float: right;
    height: 100%;
    width: 70%;
    
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-29%, -50%);
    border-radius: 0px 15px 15px 0px;
    width: 500px;*/
}

#laço{
    width: 400px;
}

#laço2{
    width: 400px;
}

#senha{
    width: 350px;
    transform: translate(-45%, -62%);
}

#forsenha{
    transform: translate(-540%, -50%);
    border-radius: 10px;
    height: 44px;
}

#login{
    width: 350px;
    transform: translate(-45%, -50%);
}

.label{
    transform: translate(-490%, 0%);
}
#person2{
    width: 40px;
    height: 44px;
    border-radius: 10px;
    position: absolute;
    left: 15px;
}

.b1, .b2{
    width: 400px;
}