@charset "UTF-8";



main{
    width: 710px;
    height: 324px;
}

#sec{
    height: 324px; 
    position: relative;
}

#imagem{
    display: inline-block;
    width: 210px;
    border-radius: 15px 0px 0px 15px;
    height: 324px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-169%, -50%);
}

#formulario{
    width: 500px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-29%, -50%);
    border-radius: 0px 15px 15px 0px;
}

#laço{
    width: 400px;
}

#laço2{
    width: 400px;
}

#senha{
    width: 350px;
    transform: translate(-45%, -62%);
}

#forsenha{
    transform: translate(-540%, -50%);
    border-radius: 10px;
    height: 44px;
}

#login{
    width: 350px;
    transform: translate(-45%, -50%);
}

.label{
    transform: translate(-490%, 0%);
}
#person2{
    width: 40px;
    height: 44px;
    border-radius: 10px;
    position: absolute;
    left: 15px;
}

.b1, .b2{
    width: 400px;
}